.flag {
    background-color: rgb(48, 170, 48);
    width: 700px;
    height: 450px;
    position: absolute;
}
.azul{
    background-color: rgb(34, 34, 158);
    width: 200px;
    height: 200px;
    position: relative;
    top: 11%;
    left: 17%;
    border-radius: 50%;
    rotate: -45deg;
}
.amarelo {
    background-color: rgb(241, 241, 42);
    width: 300px;
    height: 300px;
    position: absolute;
    top: 17%;
    left: 27%;
    rotate: 45deg;
}
.frase {
    background-color: white;
    color: rgb(48, 170, 48);
    position:relative;
    top: 45%;
    text-align: center;
    border-radius: 4px;
    rotate: 7deg;
}